h1 {text-align: center;
}
h1 {color:red;}
#imagem1{width:40%;
margin-left:7% ;
margin-top:5%}
#imagem2{width:40%;
margin: left 57%;
margin: top -53%;
}
h2 {font-size: xx-small;
}
h3 {font-size:x-small;
margin-left 55%;
margin: top -2%
}